.header {
 background-image: url("http://oi67.tinypic.com/116m6c7.jpg");
 background-position: center center;
 background-size: cover;  
 height: 700px;
 width: 100%;
}

#headertext {
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 25%;
  width: 60%;
}

h1 {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 100px;
  font-weight: 600;
  line-height: 60px;
  margin: 0;
}

h2 {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 28px;
  font-weight: 100;
}
