.header {
 background-image: url("http://oi67.tinypic.com/116m6c7.jpg");
 background-position:center center;
 background-size: cover;  
 height: 280px;
 width: 100%;
 padding: 10px
}

.topelement {
	margin-top: 50px;
}

.back {
	
	font-size: 50px;
	display: inline-block;
	border: 2px solid #332b3c;
	margin: 10px;
	background-color: grey;
	width: 10%;
	position:absolute;
	
}
body {
	margin: 0px;
	
}

#headertext {
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 25%;
  width: 60%;
}

h1 {
  color: #332b3c;
  font-family: 'Oswald', sans-serif;
  font-size: 100px;
  font-weight: 600;
  line-height: 60px;
  margin: 0;
}

h2 {
  color: #332b3c;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 36px;
  font-weight: 300;
}

.main{
  background: url("ricepaper_v3.png");
  margin: 1px;
  padding: 30px;
  }


p {
  color: #332b3c;
  font-family: 'Open-Sans', sans-serif;
  font-size: 23px;
  font-weight: 400;
  text-align: center;
  
	
}

.question {
	
	border-style: solid;
	border-width: 4px;
	width: 40%;
	padding: 30px 5px;
    margin: auto;
	margin-top: 10px
	
	
}

a:link, a:visited { 
	color: inherit;
	text-decoration: none;
}
	
.info p {
  color: #332b3c;
  width: 60%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 100px;
  font-family: 'Open-Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
	
}

.info h2 {
  color: #332b3c;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 64px;
  margin: 20px;
 
	
}

.box {
	border-style: solid;
	border-width: 4px;
	width: 40%;
	padding: 1px;
    margin: auto;
	margin-top: 10px
	
}
	
	
	
	